@import "../variables.scss";

.stat {
  text-transform: capitalize;
}

/*
  =========
    Pins
  ========
*/

$pin: #00cae9;
$pinInner: $white; // darken($accent, 10%)

$pinHover: $accent;
$pinInnerHover: white;

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    filter: none;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.pin {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50% 50% 50% 0;
  border-radius: 50% 50% 50% 0;
  background: $pin;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  cursor: pointer;
}

.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: $pinInner;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.pin:hover {
  background: $pinHover;
}

.pin:hover:after {
  background: $pinInnerHover;
}

.pulse {
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  filter: alpha(opacity=0);
  box-shadow: 0 0 1px 2px $pin;
  animation-delay: 1.1s;
}

.pulse:hover:after {
  background: $pinHover;
}

:not(.grey) {
  & > .pin {
    box-shadow: $z1; // -1px 1px 2px rgba(0,0,0,.2)
  }
}

.grey {
  & > .pin {
    background: $white;
  }

  & > .pin:after {
    background: lighten($grey, 15%);
  }

  & > .pulse:after {
    box-shadow: 0 0 1px 2px $grey;
  }
}

.sec {
  & > .pin {
    background: $complement;
  }

  & > .pin:after {
    background: darken($complement, 5%);
  }

  & > .pulse {
    background: transparent;
  }

  & > .pulse:after {
    animation-delay: 1.4s;
    box-shadow: 0 0 1px 2px $complement;
    // height: 130px;
    // width: 130px;
  }
}

/*
  ==========
   Tooltips
  ==========
*/

.tooltip {
  color: $dark;
}

.tooltip > span {
  display: none;
  position: absolute;

  z-index: 1;
  bottom: -0.8em;
  left: 1.5em;

  width: 10em;
  padding: 0.8em 1.3em;
  border-radius: 6px;
  text-align: center;

  color: $white;
  background: $dark;
  box-shadow: $zLite;
}

.tooltip:hover > span {
  display: block;
}
