@import "../../components/variables.scss";

$landing: #1B5A7A; // #1B5A7A #009688 #0f9d58 $teal
$sub: #757575;
$container: 980px;

.fold {
  height: 100vh;

  & > .graphic > img {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 100%;
  }
}

.intro {
  position: absolute;
  top: 27.3%;
  left: 50%;
  z-index: 3;

  width: 90%;
  text-align: center;
  transform: translate(-50%, 0);

  & > h2 {
    color: $landing;
    font-size: 2.5em;
    // text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  }

  & > h3 {
    color: $sub;
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.6em;
  }
}

@media screen and (max-width: $screen-md-min) {
  .intro > h2 {
    font-size: 2em;
  }

  .intro > h3 {
    font-size: 1.05em;
  }

  .breakmd {
    display: none;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .break {
    display: none
  }
}

@media screen and (max-width: $screen-xs-min) {
  .intro > h2 {
    font-size: 1.8em;
  }

  .intro > h3 {
    font-size: 1em;
  }
}

.more {
  text-decoration: none;

  & > span {
    align-self: center;
    margin-right: 0.6em;
    transition: all 1s cubic-bezier(0.03, 0.86, 0.57, 1);

    color: $landing;
    font-weight: 600;
    text-transform: uppercase;
  }

  & > svg {
    align-self: center;

    width: 1.5em;
    height: 1.5em;
    fill: $landing;
  }
}

.more.hero {
  display: flex;
  justify-content: center;

  margin-top: 1.5em;
}

.more:hover > span {
  margin-right: 1.3em;
  cursor: pointer;
}

.why {
  & > .row {
    margin-top: 1em;
  }
}

.reason {
  padding: 5em 6em;

  & > h2 {
    font-size: 1.8em;
    color: $landing;
  }

  & > p {
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: $screen-md-min) {
  .reason {
    padding: 2em 3em;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .reason {
    text-align: center !important;
  }
}

@media screen and (max-width: $screen-xs-min) {
  .reason {
    padding: 1em 2em;
  }
}

.rel {
  position: relative;
}

.rel.p {
  background: $landing;
}

@media screen and (min-width: $screen-sm-min) {
  .rel.r {
    order: 1;
  }
}

.reason.r {
  text-align: right;
}

.reason.p {
  & > h2, & > p, & > .more > span {
    color: $white;
  }

  & > .more > svg {
    fill: white;
  }
}

.trig {
  position: absolute;
  right: -1em;
  top: 38%;

  width: 2em;
  height: 2em;
  background: white;
  transform: rotate(135deg);
}

.trig.r {
  left: -1em;
  right: initial;
}

.deco {
  text-align: center;

  & > img {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.deco > .isodata {
  width: 40%;
}

.deco > .phyweb {
  width: 65%;
  margin-top: 6em;
}

.deco > .isomono {
  width: 60%;
  margin-top: 4em;
}

@media screen and (max-width: $screen-sm-min) {
  .deco > img {
    width: 35%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .deco > .isomono {
    width: 45%;
    margin-top: 0;
  }

  .deco > .phyweb {
    width: 40%;
    margin-top: 1em;
  }

  .deco > .isodata {
    width: 30%;
  }
}

.ideas {
  padding-top: 5em;
  max-width: $container;
  margin: 0 auto;
  text-align: center;

  & > h2 {
    font-size: 1.6em;
    margin-bottom: 1em;
    color: $landing;
  }
}

img.ds {
  width: initial;
  margin-top: 1em;
}

.link {
  text-decoration: none;
}

.join {
  text-align: center;
  padding-top: 3em;
}
