@import "../../components/variables.scss";

.content {
  padding: 1em;
  background: rgba(239, 239, 239, 0.38);
}

.card {
  padding: 0.5em;
  background: white;
  border-radius: 0.2em;
  box-shadow: $zLite;
}

h2.heading {
  margin: 0.7em 0;
}

.heroPos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.searchCta {
  display: flex;
  align-self: center;

  margin-top: 3em;
  margin-bottom: 1em;
  box-shadow: $zLite;
  border-radius: 0.2em;

  .icon {
    display: flex;
    justify-content: center;

    padding: 0.65em 0 0.65em 1.1em;
    background: white;
    border-radius: 0.2em 0 0 0.2em;

    svg {
      flex: 1;
      align-self: center;

      fill: $grey;
      width: 1.3em;
      height: 1.3em;
    }
  }

  .fakeInput {
    flex: 1;
    align-self: center;
    background: white;

    font-size: 1em;
    color: $grey;
    padding: 0.8em 1em;
    border-radius: 0 0.2em 0.2em 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #16a085;
  padding-top: 1em;
  padding-bottom: 2em;
  box-shadow: $z1;

  .top, .tagline {
    flex: 1;
    align-self: center;
    color: $white;
  }

  .top {
    display: flex;
    padding-top: 1em;

    svg, span {
      flex: 1;
      align-self: center;
    }

    span {
      font-weight: bold;
    }

    svg {
      fill: $white;
      width: 1.3em;
      height: 1.3em;
      margin-right: 0.5em;
    }
  }
}
