@import "../../components/variables.scss";

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 1.0;
  }
}

.menuBtn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M0%200h6v6H0z%22%2F%3E%3Cpath%20d%3D%22M0%209h6v6H0z%22%2F%3E%3Cpath%20d%3D%22M0%2018h6v6H0z%22%2F%3E%3Cpath%20d%3D%22M18%2018h6v6h-6z%22%2F%3E%3Cpath%20d%3D%22M9%2018h6v6H9z%22%2F%3E%3Cpath%20d%3D%22M9%200h6v6H9z%22%2F%3E%3Cpath%20d%3D%22M9%209h6v6H9z%22%2F%3E%3Cpath%20d%3D%22M18%200h6v6h-6z%22%2F%3E%3Cpath%20d%3D%22M18%209h6v6h-6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  width: 1.5em;
  height: 1.5em;
  opacity: .3;
}

.menuBtn:hover {
  opacity: .9;
}

.pre {
  line-height: 1.4em;
  white-space: pre-wrap;
  word-break: break-all;
}

.welcome {
  display: flex;
  justify-content: center;

  background-image: url(/images/landing.svg);
  background-size: cover;

  margin-top: -2.5em;
  margin-bottom: 2.5em;

  box-shadow: $zLite;
  text-align: center;
  height: 13em;

  & > div {
    flex: 1;
    align-self: center;
  }
}

.status {
  color: $accent;
  animation: blink 1.5s linear infinite;

  & > svg {
    margin-top: -0.1em;
    fill: $accent !important;
  }
}

.root {
  margin-top: 5.5em;
}

.top {
  margin-top: 1.5em;
}

.bottom {
  margin-bottom: 1.5em;
}

.heading {
  margin: 0;
  font-weight: 300;
  line-height: 1.6em;
}

.sub {
  @extend .heading;
  color: $grey;
}

.device {
  & > h3, & > h4 {
    margin: 0;
    font-weight: 300;
    line-height: 1.6em;
  }
}

.card {
  padding: 1em;
  box-shadow: $zCard;
  margin-bottom: 1em;
}

.online, .offline, .unknown {
  position: relative;

  & > svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.online {
  color: $accent;

  & > svg {
    fill: $accent !important;
  }
}

.offline {
  color: $complement;

  & > svg {
    fill: $complement !important;
  }
}

.map {
  height: 20em;
  width: auto;
  box-shadow: $zLite;
}

.delete {
  background: $complement !important;
  margin-top: 1em;
}
