@import "../../components/variables.scss";

// rgba(255,255,255,.8)

$color: $accent;

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(6px);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

.scroll {
	position: absolute;
	top: 80%;
	left: 50%;
	width: 16px;
	height: 50px;
	z-index: 1;
	transition: opacity .4s;
}

.scroll span {
	display: block;
	width: 5px;
	height: 5px;
	border-right: 1px solid $color;
	border-bottom: 1px solid $color;
	margin: 0 0 2px 5px;

	transform: rotate(45deg);
  animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.scroll .a1 {
	margin-top: 6px;
	animation-delay: .1s;
}

.scroll .a2 {
	animation-delay: .2s;
}

.scroll .a3 {
	animation-delay: .3s;
}

.scroll .mouse {
	height: 22px;
	width: 14px;
	border: 1px solid $color;
	border-radius: 10px;
}

.scroll .wheel {
  position: relative;
  display: block;
  height: 3px;
  width: 3px;
  margin: 2px auto 0;
  background: $color;
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}
