@import "../../components/variables.scss";

$prime: #E77975;
$font: Quicksand;

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 1em 0 0.8em 0;
  box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, 0.05);

  > svg {
    flex: 1;
    align-self: center;

    opacity: .8;
    fill: #C3C2C5;
    width: 2em;
    height: 2em;
  }

  > span {
    flex: 4;
    align-self: center;

    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    font-family: $font;
  }
}

.main {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;

  > img {
    margin-top: 1.8em;
    width: 4.3em;
  }

  > h2, > h3, > h4 {
    margin-top: 0.8em;
    font-weight: 400;
    font-family: $font;
  }

  > h3 {
    font-size: 1em;
    padding: 0 1.5em;
  }
}

.price {
  color: $prime;

  font-family: $font;
  font-weight: 600;
  font-size: 1em;
}

.details {
  padding: 1em 1.5em 0 1.5em;
  margin-bottom: 1em;

  margin-left: 0em;
  margin-right: 0em;
  border-top: 1px solid #F3F2F5;
  border-bottom: 1px solid #F3F2F5;
}

.detail {
  font-family: $font;
  text-transform: uppercase;

  > img {
    width: 1.7em;
    height: 1.7em;
  }

  > p {
    margin: 0.6em 0;
    font-size: 0.9em;
  }
}

.place > svg, .more > img {
  flex: 1;
  align-self: center;

  margin-left: 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.place > span, .more > span {
  flex: 6;
  align-self: center;

  margin-right: 1.5em;
  font-family: $font;
  line-height: 1.4em;
  font-weight: 400;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place {
  display: flex;
  justify-content: center;

  padding-bottom: 1em;
  border-bottom: 1px solid #F3F2F5;
}

.more {
  display: flex;
  justify-content: center;
  background: #F8F8F9;

  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
  border-bottom: 1px solid #F3F2F5;
}

.order {
  margin: 0 1.5em;

  > button {
    color: $white;
    background: $prime;
    padding: 1em 1em;
    box-shadow: 0 1px 1.5px 1px rgba(231, 121, 117, 0.45);

    font-family: $font !important;
    font-weight: 500 !important;
  }
}
