@import "../variables.scss";

$success: #60bb71;
$error: #db6a64;
$info: #58abc3;

.root {
  position: fixed;
  z-index: 3;
  left: 1.5em;
  top: 5em;
}

.notifs {
  display: flex;
  justify-content: center;
  flex-direction: row;

  padding: 1em;
  margin-bottom: 0.8em;

  color: $white;
  box-shadow: $zLite;
  background: $info;

  opacity: 0;
  transition: all 0.5s ease-in-out;

  cursor: pointer;

  > svg {
    flex: 1;
    align-self: center;

    fill: $white;
    width: 2em;
    height: 2em;

    margin-right: 1em;
  }

  > span {
    flex: 6;
    align-self: center;

    line-height: 1.6em;
  }
}

@media screen and (max-width: $screen-xs-min) {
  .root {
    top: initial;
    bottom: 4.5em;
    left: 1em;
  }

  .notifs {
    padding: 0.8em;
    margin-right: 1em;
  }
}

.notifs.success {
  background: $success;
}

.notifs.error {
  background: $error;
}

.show {
  opacity: 1;
}
